<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta charset="UTF-8">
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-container fluid>
            <v-row>
              <v-col
              >
                <v-card
                  outlined
                >
                  <v-card-actions>
                    <p class="text-h3 text--primary">
                      {{this.date}} DISA D
                    </p>
<!--
                    <v-btn
                      class="ml-4 mt-n3"
                      icon
                      x-large
                      color="warning"
                    >
                      <v-icon>mdi-reload</v-icon>
                    </v-btn>
-->
                    <v-spacer></v-spacer>
                    <span>指示枠数:&nbsp;</span><span class="text-h5 mr-4">{{totalInstructionFlame}}</span>
                    <v-btn
                      rounded
                      color="warning"
                      large
                     @click="dialogRegistConfirm=true; log(plans)"
                    >
                      確認
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
            <v-row dense>
              <v-col
                cols="12"
                xl="8"
                lg="8"
                md="12"
              >
                <v-card
                  outlined
                >

                  <v-simple-table fixed-header>
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th class="text-center px-1">
                            <v-icon>
                              mdi-arrow-right
                            </v-icon>
                          </th>
<!--
                          <th>
                            時刻
                          </th>
                          <th style="width:5em;">
                            &nbsp;
                          </th>
-->
                          <th class="text-left px-0">
                            ロットNo
                          </th>
                          <th class="text-left px-0">
                            部番
                          </th>
                          <th class="px-0" style="min-width: 10em; width: 10em;">
                            枠数
                          </th>
                          <th class="text-right px-1">
                            数量
                          </th>
                          <th class="text-center px-0">
                            中子状況
                          </th>
                          <th class="text-center pl-0 pr-1">
                            指示
                          </th>
                        </tr>
                      </thead>
                      <tbody id="dragTable">
                        <tr
                          v-for="(plan, index) in plans"
                          :key="plan.id"
                          class="sortableRow handle"
                          :class='( plan.id == 12 ? "yellow lighten-5" : "")'
                        >
                          <td class="px-1 sortHandle">
                            <v-btn
                              fab
                              depressed
                              x-small
                              color="error"
                              @click="removePlanList(index)"
                            >
                              <v-icon>
                                mdi-arrow-right
                              </v-icon>
                            </v-btn>
                          </td>
<!--
                          <td>{{ plan.time }}</td>
                          <td>
                            <span v-show="plan.class">
                              <v-chip
                                color="cyan"
                                text-color="white"
                                x-small
                              >
                                {{ plan.class }}
                              </v-chip>
                            </span>
                          </td>
-->

                          <td class="px-0 sortHandle">
                            <span class="text-h6">{{ plan.lot_no }}</span>
                          </td>

                          <td class="px-0 sortHandle" nowrap>
                            <v-badge
                              inline
                              :content="plan.class"
                              :value="plan.class"
                              color="cyan"
                            >
                              <span class="text-h5">{{ plan.product_no }}</span>
<!--
                              <span class="text-h4">{{ plan.product_no.split('-',3).join('-') }}</span><span class="text-h5">-{{ plan.product_no.split('-',4).slice(-1)[0] }}</span>
 -->
                            </v-badge>
                          </td>
                           <td class="px-0 sortHandle">
                            <v-text-field
                              class="my-2 text-h6"
                              dense
                              outlined
                              v-model='plan.instructionFlame'
                              hide-details=true
                              :suffix="'/ ' + plan.flame"
                              @change="partlyRemovePlanList(index)"
                            ></v-text-field>
                          </td>
<!--
                           <td class="sortHandle" nowrap>
                            <v-text-field
                              class="my-2 text-h6"
                              dense
                              outlined
                              v-model='plan.instructionFlame'a
                              hide-details=true
                              @change="partlyRemovePlanList(index)"
                            >
                              <template v-slot:append-outer>
                                   /&nbsp;{{plan.flame}}
                              </template>
                            </v-text-field>
                          </td>
 -->
                          <td class="px-1 text-h6 text-right sortHandle"><span class="">{{ plan.qty }}</span></td>
                          <td class="px-0 sortHandle"><span class="">{{ plan.status }}</span></td>
                          <td class="pl-0 pr-1">
                            <v-btn-toggle
                              v-model='plan.checked'
                            >
                              <v-btn
                                block
                                value="1"
                              >
                                <span class="text-h6" v-if='plan.checked'>指示</span><span class="text-h6" v-else>計画</span>
                              </v-btn>
                            </v-btn-toggle>
                          </td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>

                </v-card>
              </v-col>
              <v-col
                cols="12"
                xl="4"
                lg="4"
                md="12"
              >
                <v-row>
                  <v-col>
                    <v-card
                      outlined
                    >
                      <v-card-subtitle
                      >
                        保留枠
                      </v-card-subtitle>
                      <v-simple-table>
                        <template v-slot:default>
                          <thead>
                            <tr>
                              <th class="px-1 text-center">
                                <v-icon>
                                  mdi-arrow-left
                                </v-icon>
                              </th>
                              <th class="px-0 text-left">
                                ロットNo
                              </th>
                              <th class="px-0 text-left">
                                部番
                              </th>
                              <th class="px-1 text-right">
                                枠数
                              </th>
                              <th class="px-1 text-right">
                                数量
                              </th>
                            </tr>
                          </thead>
                          <tbody id="dragTable2">
                            <tr
                              v-for="(plan, index) in pendings"
                              :key="plan.product_no"
                              class="sortableRow sortHandle handle"
                            >
                              <td class="px-1 text-center">
                                <v-btn
                                  class=""
                                  fab
                                  depressed
                                  x-small
                                  color="success"
                                  @click="removePendingList(index)"
                                >
                                  <v-icon>
                                    mdi-arrow-left
                                  </v-icon>
                                </v-btn>
                              </td>
                              <td class="px-0">{{ plan.lot_no }}</td>
                              <td class="px-0">
                                <v-badge
                                  inline
                                  :content="plan.class"
                                  :value="plan.class"
                                  color="cyan"
                                >
                                <span>{{ plan.product_no }}</span>
                                </v-badge>
                              </td>
                              <td class="px-1 text-right">{{ plan.instructionFlame }}</td>
                              <td class="px-1 text-right">{{ plan.qty }}</td>
                            </tr>
                          </tbody>
                        </template>
                      </v-simple-table>
                    </v-card>
                  </v-col>
                </v-row>

                <v-row
                >
                  <v-col>
                    <v-card
                      outlined
                    >
                      <v-card-subtitle>
                        追加枠
                      </v-card-subtitle>

                      <v-simple-table>
                        <template v-slot:default>
                          <thead>
                            <tr>
                              <th class="px-1 text-center">
                                <v-icon>
                                  mdi-arrow-left
                                </v-icon>
                              </th>
                              <th class="px-0 text-left">
                                ロットNo
                              </th>
                              <th class="px-0 text-left">
                                部番
                              </th>
                              <th class="px-1 text-right">
                                枠数
                              </th>
                              <th class="px-1 text-right">
                                数量
                              </th>
                            </tr>
                          </thead>
                          <tbody id="dragTable3">
                            <tr
                              v-for="(plan, index) in addOns"
                              :key="plan.id"
                              class="sortableRow sortHandle handle"
                            >
                              <td class="px-1 text-center">
                                <v-btn
                                  fab
                                  depressed
                                  x-small
                                  color="success"
                                  @click="removeAddOnList(index)"
                                >
                                  <v-icon>
                                    mdi-arrow-left
                                  </v-icon>
                                </v-btn>
                              </td>
                              <td class="px-0">{{ plan.lot_no }}</td>
                              <td class="px-0">
                                <v-badge
                                  inline
                                  :content="plan.class"
                                  :value="plan.class"
                                  color="cyan"
                                >
                                <span>{{ plan.product_no }}</span>
                                </v-badge>
                              </td>
                              <td class="px-1 text-right">{{ plan.instructionFlame }}</td>
                              <td class="px-1 text-right">{{ plan.qty }}</td>
                            </tr>
                          </tbody>
                        </template>
                      </v-simple-table>
                    </v-card>
                  </v-col>
                </v-row>

              </v-col>
            </v-row>

            <v-dialog
              v-model="dialogRegistConfirm"
              scrollable
            >
              <v-card>
                <v-card-title>
                  指示する順番と内容に間違いないか確認してください。
                </v-card-title>
                <v-card-subtitle>
                </v-card-subtitle>
                <v-simple-table>
                  <template v-slot:default>
                    <thead>
                      <tr>
                        <th>
                          No
                        </th>
                        <th>
                          ロットNo
                        </th>
                        <th>
                          部番
                        </th>
                        <th class="text-right ">
                          枠数
                        </th>
                        <th class="text-right">
                          数量
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(plan, index) in plans.filter(plan => plan.checked)"
                        :key="plan.id"
                      >
                        <td><span class="text-h6">{{ (index+1) }}</span></td>
                        <td><span class="text-h6">{{ plan.lot_no }}</span></td>
                        <td><span class="text-h4">{{ plan.product_no }}</span></td>
                        <td class="text-right"><span class="text-h4">{{ plan.instructionFlame }}</span></td>
                        <td class="text-right"><span class="text-h6">{{ plan.qty }}</span></td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="text-right"><span class="text-h4">{{ totalInstructionFlame }}</span></td>
                        <td>&nbsp;</td>
                      </tr>
                    </tfoot>
                  </template>
                </v-simple-table>

                <v-card-actions>

                  <v-btn
                    color=""
                    large
                    @click="dialogRegistConfirm = false"
                  >
                    キャンセル
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="primary"
                    large
                    @click="dialogRegistConfirm = false"
                  >
                    登録
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <v-dialog
              v-model="dialogIntegration"
              width="33%"
            >
              <v-card>
                <v-card-title>
                  同じ部番です。統合しますか？
                </v-card-title>
                <v-card-subtitle>
                </v-card-subtitle>
                <v-card-text>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>

                  <v-btn
                    color=""
                    text
                    @click="dialogIntegration = false"
                  >
                    閉じる
                  </v-btn>

                  <v-btn
                    color="primary"
                    text
                    @click="dialogIntegration = false"
                  >
                    はい
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

          </v-container>
        </v-main>
      </v-app>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ja.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>

    <!-- Vuetifyを初期化する -->
    <script>

        moment.locale("ja", {
          weekdays: ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"],
          weekdaysShort: ["日", "月", "火", "水", "木", "金", "土"]
        });

        var vm = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
              date: ( moment().format('YYYY/MM/DD(ddd)') ),
              plans: [],
              pendings: [],
              addOns: [],
              dialogRegistConfirm: false,
              dialogIntegration: false,
              itemKeys: new WeakMap(),
              currentItemKey: 0,
            },
            created: function () {

              this.plans = [  //TODO シートから取得
                { "id": 1, "lot_no": "23Z",  "product_no": "0B39767AK-1/2-000-N0S01", "instructionFlame": "96", "flame": "96",  "qty": "1536",  "status": "OK", "class": "", "checked":false}, 
                { "id": 2, "lot_no": "23Z",  "product_no": "448/20069AK-0-000-N0S01", "instructionFlame": "33", "flame": "33",  "qty": "132",  "status": "", "class": "", "checked":false}, 
                { "id": 3, "lot_no": "23Z",  "product_no": "0B38281AK-1/2-000-N0S01", "instructionFlame": "64", "flame": "64",  "qty": "1280",  "status": "OK", "class": "", "checked":false}, 
                { "id": 4, "lot_no": "23Z",  "product_no": "448/20038AK-0-000-N0S01", "instructionFlame": "33", "flame": "33",  "qty": "132",  "status": "4/4 18:33", "class": "", "checked":false}, 
                { "id": 5, "lot_no": "23Z",  "product_no": "1H1/0087/88AK-0-000-N1S01", "instructionFlame": "70", "flame": "70",  "qty": "840",  "status": "OK", "class": "", "checked":false}, 
                { "id": 6, "lot_no": "23Z",  "product_no": "1/60110AK-0-000-N0S01", "instructionFlame": "64", "flame": "64",  "qty": "384",  "status": "4/4 13:32", "class": "", "checked":false}, 
                { "id": 7, "lot_no": "23Z",  "product_no": "448/20055AK-0-000-N0S01", "instructionFlame": "33", "flame": "33",  "qty": "132",  "status": "OK", "class": "", "checked":false}, 
                { "id": 8, "lot_no": "23Z",  "product_no": "448/20055AK-0-000-N0S01", "instructionFlame": "33", "flame": "33",  "qty": "132",  "status": "OK", "class": "", "checked":false}, 
                { "id": 9, "lot_no": "23Z",  "product_no": "1H1/0160AK-3-000-N0S01", "instructionFlame": "128", "flame": "128",  "qty": "1536",  "status": "", "class": "", "checked":false}, 
                { "id": 10, "lot_no": "23Z",  "product_no": "0B34490AK-1-000-N0S01", "instructionFlame": "75", "flame": "75",  "qty": "1500",  "status": "OK", "class": "", "checked":false}, 
                { "id": 11, "lot_no": "23Z",  "product_no": "1H1/0087/88AK-0-000-N1S01", "instructionFlame": "70", "flame": "70",  "qty": "840",  "status": "OK", "class": "", "checked":false}, 
                { "id": 12, "lot_no": "240",  "product_no": "1H1/0159AK-3-000-N0S01", "instructionFlame": "128", "flame": "128",  "qty": "1536",  "status": "", "class": "", "checked":false}, 
              ];
              this.pendings = [
                { "id": 1, "lot_no": "239",  "product_no": "1H1/0160AK-3-000-N0S01", "instructionFlame": "128", "flame": "128",  "qty": "1536",  "status": "", "class": "", "checked":false}, 
                { "id": 2, "lot_no": "23W",  "product_no": "0B34490AK-1-000-N0S01", "instructionFlame": "75", "flame": "75",  "qty": "1500",  "status": "OK", "class": "", "checked":false}, 
              ];
              this.addOns = [
                { "id": 1, "lot_no": "",  "product_no": "1H1/0160AK-3-000-N0S01", "instructionFlame": "128", "flame": "128",  "qty": "1536",  "status": "", "class": "試作", "checked":false}, 
                { "id": 2, "lot_no": "",  "product_no": "0B34490AK-1-000-N0S01", "instructionFlame": "75", "flame": "75",  "qty": "1500",  "status": "OK", "class": "先行", "checked":false}, 
              ];


            },
            mounted: function() {
              new Sortable(
                document.querySelector('#dragTable'),
                {
//                  group: 'shared',
                  animation : 150,
                  draggable: '.sortableRow',
                  handle: '.sortHandle',
                  onEnd: this.dragReorder
                }
              );
              new Sortable(
                document.querySelector('#dragTable2'),
                {
//                  group: 'shared',
                  draggable: '.sortableRow',
                  handle: '.sortHandle',
                  onEnd: this.dragReorder2
                }
              );
              new Sortable(
                document.querySelector('#dragTable3'),
                {
                  draggable: '.sortableRow',
                  handle: '.sortHandle',
                  onEnd: this.dragReorder3
                }
              )

            },
            methods: {
              log (e) {
                console.log(e);
              },

/*
              itemKey (item) {
                if (!this.itemKeys.has(item)) this.itemKeys.set(item, ++this.currentItemKey)
                return this.itemKeys.get(item)
              },
*/
              dragReorder ({oldIndex, newIndex}) {
                if(this.plans[oldIndex].id != this.plans[newIndex].id && this.plans[oldIndex].product_no == this.plans[newIndex].product_no) {
                  this.dialogIntegration = true;
                }
                //TODO 処理をダイアログの「はい・いいえ」に移動
                const movedItem = this.plans.splice(oldIndex, 1)[0]
                this.plans.splice(newIndex, 0, movedItem)

              },
              dragReorder2 (evt) {
                const movedItem = this.pendings.splice(evt.oldIndex, 1)[0]
                this.pendings.splice(evt.newIndex, 0, movedItem)
              },
              dragReorder3 (evt) {
                const movedItem = this.addOns.splice(evt.oldIndex, 1)[0]
                this.addOns.splice(evt.newIndex, 0, movedItem)

                console.log(evt);
              },

              orderNumber (item) {
                return this.plans.indexOf(item) + 1
              },

              addPendingList (index) {
                this.pendings.push(this.plans[index]);
                this.plans.splice(index, 1);
              },

              splitPlan() {
                //TODO
              },

              removePlanList (index) {
                // let temporaryArray = Object.assign({}, this.plans[index]);
                switch (this.plans[index].class) {
                  case "試作":
                  case "先行":
                    // var i
                    // for (i = 0; i< this.addOns.length; i++) {
                    //   if (this.addOns[i].product_no == temporaryArray.product_no && this.addOns[i].lot_no == temporaryArray.lot_no) {
                    //     this.addOns[i].instructionFlame = this.addOns[i].flame;
                    //     break;
                    //     }
                    //   }
                    // if (i == this.addOns.length) {
                    //   temporaryArray.instructionFlame = temporaryArray.flame;
                    //   this.addOns.push(temporaryArray);
                    // }
                    this.addOns.push(this.plans[index]);
                    break;
                  default:
                    // var i
                    // for (i = 0; i< this.pendings.length; i++) {
                    //   if (this.pendings[i].product_no == temporaryArray.product_no && this.pendings[i].lot_no == temporaryArray.lot_no) {
                    //     this.pendings[i].instructionFlame = this.pendings[i].flame;
                    //     break;
                    //     }
                    // }
                    // if (i == this.pendings.length) {
                    //   temporaryArray.instructionFlame = temporaryArray.flame;
                    //   this.pendings.push(temporaryArray);
                    // }
                    this.pendings.push(this.plans[index]);
                    break;
                }
                this.plans.splice(index, 1);
              },

              partlyRemovePlanList (index) {
                let temporaryArray = Object.assign({}, this.plans[index]);
                switch (temporaryArray.class) {
                  case "試作":
                  case "先行":
                    for (var i = 0; i< this.addOns.length; i++) {
                      if (this.addOns[i].product_no == temporaryArray.product_no && this.addOns[i].lot_no == temporaryArray.lot_no) {
                        this.addOns[i].instructionFlame = temporaryArray.flame - temporaryArray.instructionFlame;
                        break;
                      }
                    }
                    if (i == this.addOns.length) {
                      temporaryArray.instructionFlame = temporaryArray.flame - temporaryArray.instructionFlame;
                      this.addOns.push(temporaryArray);
                    }
                    break;
                  default:
                    for (var i = 0; i< this.pendings.length; i++) {
                      if (this.pendings[i].product_no == temporaryArray.product_no && this.pendings[i].lot_no == temporaryArray.lot_no) {
                        this.pendings[i].instructionFlame = temporaryArray.flame - temporaryArray.instructionFlame;
                        break;
                      }
                    }
                    if (i == this.pendings.length) {
                      temporaryArray.instructionFlame = temporaryArray.flame - temporaryArray.instructionFlame;
                      this.pendings.push(temporaryArray);
                    }
                    break;
                }
              },

              removePendingList (index) {
                // let temporaryArray = Object.assign({}, this.pendings[index]);
                // for (var i = 0; i< this.plans.length; i++) {
                //   if (this.plans[i].product_no == temporaryArray.product_no && this.plans[i].lot_no == temporaryArray.lot_no) {
                //     this.plans[i].instructionFlame = this.plans[i].flame;
                //     break;
                //   }
                // }
                // if (i == this.plans.length) {
                //   temporaryArray.instructionFlame = temporaryArray.flame;
                //   this.plans.push(temporaryArray);
                // }
                this.plans.unshift(this.pendings[index]);
                this.pendings.splice(index, 1);
              },
              
              removeAddOnList (index) {
                // let temporaryArray = Object.assign({}, this.addOns[index]);
                // for (var i = 0; i< this.plans.length; i++) {
                //   if (this.plans[i].product_no == temporaryArray.product_no && this.plans[i].lot_no == temporaryArray.lot_no) {
                //     this.plans[i].instructionFlame = this.plans[i].flame;
                //     break;
                //   }
                // }
                // if (i == this.plans.length) {
                //   temporaryArray.instructionFlame = temporaryArray.flame;
                //   this.plans.push(temporaryArray);
                // }
                this.plans.unshift(this.addOns[index]);
                this.addOns.splice(index, 1);
              },

            },

            computed: {
              totalInstructionFlame () {
                return this.plans.reduce((prev, plan) => {
                        return prev + (plan.checked ? ( Number.isNaN(plan.instructionFlame) ? 0 : parseInt(plan.instructionFlame) ) : 0 );
                      }, 0);
              }
            },
/**
            watch: {
                "plans": {
                    handler: function () {
                        this.totalInstructionFlame = this.plans.reduce((prev, plan) => {
                          return prev + (plan.checked ? parseInt(plan.instructionFlame) : 0);
                        }, 0);
                    },
                    deep: true,
                    immediate: false
                }
            }
*/
        })
    </script>

    <style lang="scss">
      .v-data-table tr:hover td {
          background-color: #eee;
      }
    </style>
  </body>
</html>
